/node_modules
/public/css
/public/sass
/public/js
/public/xml
/public/json
/public/media
/public/plugins
/public/tools/node_modules
/public/front-end/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
